body {
    font-family: Helvetica;
}

h1 {
    background-image: url("./pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

span {
    font-weight: bold;
    color: blue;
}
